version: "3.9"

services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - ocr-server

  ocr-server:
    build: ./ocr-server
    ports:
      - "8000:8000"
    env_file:
      - .env
